* {
    font-family: sans-serif;
}

.SideBar {
    background-color: #FFF;
    flex: 0.07;
    border-bottom: 1px solid rgba(238, 238, 238, 0.623);
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    max-width: 240px;
    min-width: 240px;
}

.SideBar-Logo {
    padding-bottom: 30px;
    font-size: 25px;

}

.SideBar-Category {
    color: gray;
    font-weight: 800;
    font-size: 13px;
    padding-bottom: 10px;

}

.SideBar-Option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 19px;
}

.SideBar-Option-Name {
    color: rgba(128, 128, 128, 0.692);
    font-weight: 700;
}

.SideBar-Option-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.SideBar-Option-Arrow {
    font-size: 15px !important;
    color: gray;
}

.SideBar-option-Dash {
    color: rgba(128, 0, 128, 0.63) !important;
}

@media (max-width: 768px) {

    .SideBar-Option-Name,
    .SideBar-Option-Arrow,
    .SideBar-Category,
    .SideBar-Logo {
        display: none !important;
    }

    .SideBar {
        max-width: 20px;
        min-width: 20px;
    }
}
@media (max-width: 480px) {

    .SideBar-Option-Name,
    .SideBar-Option-Arrow,
    .SideBar-Category,
    .SideBar-Logo {
        display: none !important;
    }

    .SideBar {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 10px !important;
        min-width:10px !important;
    }

}


@media (max-width: 1024px) {}